@{
    ViewBag.Title = "资产管理系统首页";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../../Images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../Images/apple-touch-icon-144-precompos.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../Images/apple-touch-icon-114-precompos.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../Images/apple-touch-icon-72-precompose.png">
    <link rel="apple-touch-icon-precomposed" href="../../Images/apple-touch-icon-57-precompose.png">
    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/page/index.css")" rel="stylesheet" type="text/css" />
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
    <!--<![endif]-->
    <div id="container">
        <div class="navbar" id="header">
            <div class="navbar-inner">
                <a class="brand" href="#">LOGO</a>
                <ul class="nav pull-right">
                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button"><i
                        class="icon-cog"></i>设置</a></li>
                    <li id="fat-menu" class="dropdown"><a href="#" role="button" class="dropdown-toggle"
                        data-toggle="dropdown"><i class="icon-user"></i>@Session["RealName"] <i class="icon-caret-down">
                        </i></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">我的账户</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">修改信息</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="#">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page">
            <div id="left" class="sidebar-nav">
                @Html.CreateMenu()
                <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="ico-menu ico-xtgl">
                </i>系统管理</a>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="javascript:;"><i class="ico-menu ico-yhgl"></i>a</a></li>
                    <li><a target="content" href="/Role/Index"><i class="icon-star"></i>b</a></li>
                    <li><a target="content" href="/Module/Index"><i class="icon-th-large"></i>c</a></li>
                    <li><a target="content" href="javascript:;"><i class="icon-lock"></i>d</a></li>
                </ul>
                <a href="#dashboard-menu2" class="nav-header" data-toggle="collapse"><i class="ico-menu ico-xtgl">
                </i>系统管理</a>
                <ul id="dashboard-menu2" class="nav nav-list collapse in">
                    <li><a href="javascript:;"><i class="ico-menu ico-yhgl"></i>e</a></li>
                    <li><a target="content" href="/Role/Index"><i class="icon-star"></i>f</a></li>
                    <li><a target="content" href="/Module/Index"><i class="icon-th-large"></i>g</a></li>
                    <li><a target="content" href="javascript:;"><i class="icon-lock"></i>h</a></li>
                </ul>
                <a href="#dashboard-menu3" class="nav-header" data-toggle="collapse"><i class="ico-menu ico-xtgl">
                </i>系统管理</a>
                <ul id="dashboard-menu3" class="nav nav-list collapse in">
                    <li><a href="javascript:;"><i class="ico-menu ico-yhgl"></i>i</a></li>
                    <li><a target="content" href="/Role/Index"><i class="icon-star"></i>j</a></li>
                    <li><a target="content" href="/Module/Index"><i class="icon-th-large"></i>k</a></li>
                    <li><a target="content" href="javascript:;"><i class="icon-lock"></i>l</a></li>
                </ul>
            </div>
            <div id="right">
                @*仿TAB标签*@
                @*<div class="header tab-title">
                    <span class="tab-arrow tab-left-arrow hide"></span>
                    <ul class="tab-ul">
                        <li class="tab-main"><span>主页</span> </li>
                    </ul>
                    <span class="tab-arrow tab-right-arrow hide"></span>
                </div>*@
                <iframe id="frame" frameborder="0" name="content" src="/Home/Welcome"></iframe>
            </div>
        </div>
        <div id="footer" class="navbar">
            <div class="navbar-inner tc">
                <span>Copyright © xxxxxxxxxxxx公司</span>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js")
    <script type="text/javascript">
        var visibleHeight = document.body.clientHeight;
        var left = document.getElementById('left');
        left.style.height = frame.style.height = visibleHeight + "px";

        /******************链接标签工具栏*****************************/

        function clearActive(obj) {
            var currentActive = obj.find('.tab-active');
            if (currentActive.length > 0) {
                currentActive.eq(0).removeClass('tab-active');
            }
        }

        var tabBar = $('.tab-ul');
        var mainLi = tabBar.find('li').eq(0);
        var distance = mainLi.outerWidth(true);
        var tabToFrameOffset = tabBar.cssInt('left');
        //var deleteCount = 0;

        $('#left ul').find('li').on('click', function () {
            clearActive(tabBar);
            var tabText = $(this).text();
            if (tabBar.text().indexOf(tabText) == -1) {
                var href = $(this).find('a').attr('href');
                //<button type=\"button\" class=\"close\">×</button>
                $("<li class=\"tab-active\"><a target=\"content\" href=\"" + href + "\" class=\"tab-link\">" + tabText + "</a></li>").bind('click', function (e) {
                    if (e.target.tagName == 'A') {
                        clearActive(tabBar);
                        $(this).addClass('tab-active');
                    }
                    /*if (e.target.tagName == 'BUTTON') {
                        $(this).hide();
                        var tabLeft = tabBar.cssInt('left');
                        if (tabLeft > 0 &&
                            tabBar.width() + tabToFrameOffset < $('#frame').width()) {
                            $('.tab-arrow').hideIfShow();
                        }
                        ++deleteCount
                        $('.tab-right-arrow').hideIfShow();
                    }*/
                }).appendTo(tabBar);
            }
            else {
                tabBar.find('a:contains("' + tabText + '")').parent().addClass('tab-active').showIfHide();
            }

            if (tabBar.width() + tabToFrameOffset > $('#frame').width()) {
                var move = tabBar.width() + tabToFrameOffset - $('#frame').width();
                tabBar.animate({ left: -move }, 'fast', function () {
                    $('.tab-arrow').show();
                });
            }
        });

        $('.tab-left-arrow').on('click', function () {
            var tabLeft = tabBar.cssInt('left');
            if (tabLeft < 0) {
                if (tabLeft + distance > tabToFrameOffset) {
                    tabBar.animate({ left: tabToFrameOffset }, 'fast');
                    if (tabBar.width() + tabToFrameOffset < $('#frame').width()) {
                        $('.tab-arrow').hideIfShow();
                    }
                }
                else {
                    tabBar.animate({ left: tabLeft + distance }, 'fast');
                }
            }
        });

        $('.tab-right-arrow').on('click', function () {
            var move;
            var tabLeft = tabBar.cssInt('left');
            /*if (deleteCount == 0) {*/
                var arrowRightLeft = $(this).offset().left;
                var currentIndex = Math.floor((arrowRightLeft - tabLeft) / distance);
                var liLength = tabBar.find('li:visible').length;
                if (currentIndex > liLength) return;
                if (currentIndex == liLength) {
                    move = tabBar.find('li').eq(currentIndex - 1).offset().left + distance - arrowRightLeft;
                    tabBar.animate({ left: tabLeft - move }, 'fast');
                }
                else {
                    move = tabBar.find('li').eq(currentIndex).offset().left - arrowRightLeft;
                    tabBar.animate({ left: tabLeft - move }, 'fast');
                }
            /*}
            else {
                var arrowRightLeft = $(this).offset().left;
                var currentIndex = Math.floor((arrowRightLeft - tabLeft) / distance);
                var liLength = tabBar.find('li:visible').length;
                currentIndex -= deleteCount;
                if (currentIndex >= liLength) return;
                if (tabLeft + distance > tabToFrameOffset) {
                    move = $('.tab-ul').find('li:visible').eq(currentIndex).offset().left - arrowRightLeft + 10;
                    tabBar.animate({ left: -move }, 'fast');
                }
                else {
                    move = $('.tab-ul').find('li:visible').eq(currentIndex).offset().left - arrowRightLeft;
                    tabBar.animate({ left: tabLeft + move }, 'fast');
                }
            }*/
        });
    </script>
</body>
</html>
