@{
    ViewBag.Title = "角色管理";
    ViewBag.ParentEnName = "System";
    ViewBag.CurrentEnName = "RoleManage";
    ViewBag.SearchName = "角色名称";
    ViewBag.AddTitle = "新增角色信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MvcBootstrapManage.Models
@section DataGrid{
    @Html.Partial("_RoleGrid")
}
@section AddForm{
    <div class="control-group">
        <label class="control-label">
            角色名称</label>
        <div class="controls">
            <input type="text" name="Name" class="empty form-input">
            <div class="form-tip">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            角色说明</label>
        <div class="controls">
            <input type="text" name="Remark" class="form-input" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            是否启用</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="1" checked>是
            </label>
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="0">否
            </label>
        </div>
    </div>
}
@section SetPermissionForm{
    <div id="ModalPermission" class="modal hide fade wp50" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <span class="label label-warning">分配权限</span>
            <img src="@Url.Content("~/Images/loading.gif")" class="js-loading hide" alt="loading" />
        </div>
        <div class="modal-body h300">
            <ul id="myTab" class="nav nav-tabs">
                @foreach (Module module in ViewData["ParentModule"] as IEnumerable<Module>)
                {
                    <li><a href="#@module.Code" data-toggle="tab">@module.Name</a></li>
                }
            </ul>
            <div id="myTabContent" class="tab-content">
                @foreach (Module module in ViewData["ParentModule"] as IEnumerable<Module>)
                {
                    <div class="tab-pane fade active in" id="@module.Code">
                        @Html.DistributeOptions(module.ID)
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                取消</button>
            <button class="btn btn-primary" id="js-btn-modal-permission" data-dismiss="modal">
                提交</button>
        </div>
    </div>
}
@section script{
    <script src="@Url.Content("~/Scripts/bs/bootstrap-tooltip.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bs/bootstrap-tab.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('#myTab a:first').tab('show');
        $('#js-btn-toolbar-permission').on('click', function () {
            var roleCheck = $('input:checked.js-check-cell');
            var isCheckAll = $('#js-table').find('#js-check-all').prop('checked');
            if (isCheckAll) {
                alert('请取消全选按钮选中状态后重试！');
            }
            else if (roleCheck.length == 0) {
                alert('请选中需要分配权限的角色！');
            }
            else if (roleCheck.length > 1) {
                alert('每次只能为一个角色分配权限！');
            }
            else {
                //Reset
                var checkboxes = $('.js-form-permission').find('input[type=checkbox]');
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes.eq(i).prop('checked', '');
                }
                $('#myTab a:first').tab('show');
                $('#ModalPermission').modal('show');
                $('.js-loading').show();
                //加载现有权限
                $.getJSON('/Role/GetPermission/' + checkId)
                 .done(function (result) {
                     if (result != null) {
                         var ops = [];
                         var name;
                         $.each(result, function (k, v) {
                             ops = v.split('');
                             for (var i = 0; i < ops.length; i++) {
                                 name = k + '-' + ops[i];
                                 $('input[name="' + name + '"]').prop('checked', 'true');
                             }
                         });
                     }
                     $('.js-loading').hide();
                 });
            }
        });
        $('#js-btn-modal-permission').on('click', function () {
            $.post('/' + controller + '/SetPermission/' + checkId, $('.js-form-permission').serialize())
             .done(function () {
                 alert("权限分配成功！");
             });
        });
        $('.js-checkall-permission').tooltip();
        $('.js-checkall-permission').on('click', function () {
            var sibCheckboxes = $(this).closest('form').find('input[type=checkbox]');
            var thisCheckbox, checkboxName;
            if (!$(this).prop('checked')) {
                $(this).attr('data-original-title', '全选');
                for (var i = 1; i < sibCheckboxes.length; i++) {
                    thisCheckbox = sibCheckboxes.eq(i);
                    if (thisCheckbox.prop('checked')) {
                        thisCheckbox.prop('checked', '');
                    }
                }
            }
            else {
                $(this).attr('data-original-title', '反选');
                for (var i = 1; i < sibCheckboxes.length; i++) {
                    thisCheckbox = sibCheckboxes.eq(i);
                    if (!thisCheckbox.prop('checked')) {
                        thisCheckbox.prop('checked', 'true');
                    }
                }
            }
        });
    </script>
}
