@{
    ViewBag.Title = "模块管理";
    ViewBag.ParentEnName = "System";
    ViewBag.CurrentEnName = "ModuleManage";
    ViewBag.SearchName = "模块名称";
    ViewBag.AddTitle = "新增模块信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section DataGrid{
    @Html.Partial("_ModuleGrid")
}
@section AddForm{
    <div class="control-group">
        <label class="control-label">
            上级菜单</label>
        <div class="controls">
            @{SelectList modules = ViewData["Modules"] as SelectList;}
            @Html.DropDownList("ParentId", modules, new { @class = "noCheck my-select" })
            <div class="form-tip">
                如不选择，则默认为添加根节点菜单</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            模块名称</label>
        <div class="controls">
            <input type="text" name="Name" class="empty form-input js-module-name" />
            <div class="form-tip">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            模块代码</label>
        <div class="controls">
            <input type="text" name="Code" class="form-input-readonly js-module-code" readonly />
        </div>
    </div>
    <div class="control-group hide" id="Controller">
        <label class="control-label">
            控制器名</label>
        <div class="controls">
            <input type="text" name="Controller" class="empty hide form-input" />
            <div class="form-tip">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            是否启用</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="1" checked>是
            </label>
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="0">否
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            所属权限</label>
        <div class="controls">
            @Html.Operations()
        </div>
    </div>
}
@section EditForm{
    <input type="hidden" id="EditModuleID" name="ID" />
    <div class="row-fluid">
        <div class="control-group span12">
            <label class="control-label">
                上级菜单</label>
            <div class="controls">
                @{SelectList modules = ViewData["Modules"] as SelectList;}
                @Html.DropDownList("ParentId", modules, new { id = "EditParentID", @class = "noCheck my-select" })
                <div class="form-tip">
                    如不选择，则默认为添加根节点菜单</div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">
                模块名称</label>
            <div class="controls">
                <input type="text" id="EditName" name="Name" class="empty form-input js-module-name" />
                <div class="form-tip">
                </div>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">
                模块代码</label>
            <div class="controls">
                <input type="text" id="EditCode" name="Code" class="form-input-readonly js-module-code"
                    readonly />
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">
                是否启用</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" id="EditVisible" name="IsEnable" value="1" checked>是
                </label>
                <label class="radio inline">
                    <input type="radio" id="EditHide" name="IsEnable" value="0">否
                </label>
            </div>
        </div>
        <div class="control-group span6 hide" id="EController">
            <label class="control-label">
                控制器名</label>
            <div class="controls">
                <input type="text" id="EditController" name="Controller" class="empty hide form-input" />
                <div class="form-tip">
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group span12" id="EditOp">
            <label class="control-label">
                所属权限</label>
            <div class="controls">
                @Html.Operations()
            </div>
        </div>
    </div>
}
@section SearchForm{
    <div id="ModalSearch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <span class="label label-warning">高级搜索</span>
        </div>
        <div class="modal-body">
            <form id="js-search-form">
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">
                            上级菜单</label>
                        <div class="controls">
                            @{SelectList modules = ViewData["Modules"] as SelectList;}
                            @Html.DropDownList("ParentId", modules, new { id = "SearchParentID", @class = "noCheck my-select" })
                        </div>
                    </div>
                    <div class="control-group span6" id="SController">
                        <label class="control-label">
                            Controller</label>
                        <div class="controls">
                            <input type="text" id="SearchController" name="Controller" class="empty form-input" />
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">
                            模块名称</label>
                        <div class="controls">
                            <input type="text" id="SearchName" name="Name" class="empty form-input" />
                        </div>
                    </div>
                    <div class="control-group span6">
                        <label class="control-label">
                            模块代码</label>
                        <div class="controls">
                            <input type="text" id="SearchCode" name="Code" class="form-input" />
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <label class="control-label">
                            是否启用</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" id="SearchVisible" name="IsEnable" value="1" checked>是
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="SearchHide" name="IsEnable" value="0">否
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="js-btn-modal-search" data-dismiss="modal">搜索</button>
        </div>
    </div>
}
@section script{
    <script src="@Url.Content("~/Scripts/tool/pinyin.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('.js-module-name').on('blur', function () {
            $('.js-module-code').val(makePy($(this).val()));
        });
        $('#ParentId').on('change', function () {
            if ($(this).get(0).selectedIndex != 0) {
                $('#Controller').show();
                $('#Controller').find('.hide').show();
                $('#Controller').find('.hide').next()
                                              .addClass('form-init')
                                              .html('请输入信息');
            }
            else {
                $('#Controller').hide();
                $('#Controller').find('.hide').hide();
                $('#Controller').find('.hide').next()
                                              .removeClass('form-init');
            }
        });
        $('#EditParentID').on('change', function () {
            if ($(this).get(0).selectedIndex != 0) {
                $('#EController').show();
                $('#EController').find('.form-tip').toggleClass('form-init');
            }
            else {
                $('#EController').hide();
                $('#EController').find('.form-tip').toggleClass('form-init');
            }
        });
        function FillEditInfo(id) {
            $('#EditModuleID').val(id);
            $.getJSON('/Module/Get/' + id)
             .done(function (data) {
                 $('#EditParentID').find('option[value=' + data.ParentId + ']').prop('selected', 'true');
                 if (data.ParentId != null) {
                     $('#EController').show();
                 }
                 $('#EditName').val(data.Name);
                 $('#EditCode').val(data.Code);
                 $('#EditController').val(data.Controller);
                 if (data.IsEnable) {
                     $('#EditVisible').prop('checked', 'true');
                 }
                 else {
                     $('#EditHide').prop('checked', 'true');
                 }
                 if (data.Operations != null) {
                     var operations = data.Operations.split(',');
                     for (var i = 1; i <= operations.length; i++) {
                         $('#op' + i).prop('checked', 'true');
                     }
                 }
                 else {
                     var opLength = $('#EditOp').find('input[id^="op"]').length;
                     for (var i = 1; i <= opLength; i++) {
                         $('#op' + i).prop('checked', '');
                     }
                 }
                 $(".js-loading").hide();
             });
         };
         $('#js-btn-modal-search').on('click', function () {
             $.ajax({
                 type: 'POST',
                 url: '/' + controller + '/AdvanceSearch',
                 contentType: 'application/json',
                 dataType: 'html',
                 data: $('#js-search-form').serialize()
             }).done(function (result) {
                 showSearch(result);
             });
             /*$.post('/' + controller + '/AdvanceSearch', $('#js-search-form').serialize())
             .done(function (result) {
             showSearch(result);
             });*/
         });
    </script>
}
