@model IEnumerable<MvcBootstrap.EFModel.Module>

<thead>
	<tr>
        <th><input id="js-check-all" type="checkbox" class="th-check-all" />选择</th>
		<th>模块名称</th>
		<th class="sort-alpha th-sort">模块代码</th>
		<th>链接</th>
		<th>Controller</th>
		<th>是否启用</th>
        @{if (Convert.ToBoolean(ViewData["Update"]) || Convert.ToBoolean(ViewData["Delete"]))
         {
		<th>操作</th>
         }}
	</tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            @*默认隐藏列*@
            <td class="hide">@item.ID</td>
            <td><input class="js-check-cell" type="checkbox" /></td>
		    <td>
            @if (item.ParentId == null || item.ParentId == item.ID)
            {
                <img src="../../Images/folder.png" style="padding-right:10px;" />
            }
            else
            {
                <img src="../../Images/child.png" style="padding-right:10px;" />
            }
            @item.Name</td>
		    <td>@item.Code</td>
		    <td>@item.Url</td>
		    <td>@item.Controller</td>
            <td>
            @if (item.IsEnable != null && (bool)item.IsEnable)
            {
                <img src="../../Images/enable.png" alt="可用" title="可用" />
            }
            else
            {
                <img src="../../Images/disable.png" alt="不可用" title="不可用" />
            }
            </td>
            @{if (Convert.ToBoolean(ViewData["Update"]) || Convert.ToBoolean(ViewData["Delete"]))
              {
            <td>
                @{if (Convert.ToBoolean(ViewData["Update"]))
                  {
                    <a href="javascript:;" title="编辑"><i class="icon-pencil" type="window"></i></a>
                  }
                }
                @{if (Convert.ToBoolean(ViewData["Delete"]))
                  {
                    <a href="#ModalDel" role="button" data-toggle="modal" title="删除"><i class="icon-remove"></i></a>
                  }
                }
            </td>
              }}
        </tr>
    }
</tbody>