@{
    ViewBag.Title = "模块管理";
    ViewBag.ParentEnName = "System";
    ViewBag.CurrentEnName = "ModuleManage";
    ViewBag.SearchName = "模块名称";
    ViewBag.AddTitle = "新增模块信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section DataGrid{
    @Html.Partial("_ModuleGrid")
}
@section AddForm{
    <div class="control-group">
        <label class="control-label">
            上级菜单</label>
        <div class="controls">
            @{SelectList modules = ViewData["ParentId"] as SelectList;}
            @Html.DropDownList("ParentId", modules, new { @class = "noCheck my-select" })
            <div class="form-tip">如不选择，则默认为添加根节点菜单</div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            模块名称</label>
        <div class="controls">
            <input type="text" name="Name" class="empty form-input js-module-name" />
            <div class="form-tip">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            模块代码</label>
        <div class="controls">
            <input type="text" name="Code" class="form-input-readonly js-module-code" readonly />
        </div>
    </div>
    <div class="control-group hide" id="Url">
        <label class="control-label">
            链接</label>
        <div class="controls">
            <input type="text" name="Url" class="empty hide form-input" />
            <div class="form-tip">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            是否启用</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="1" checked>是
            </label>
            <label class="radio inline">
                <input type="radio" name="IsEnable" value="0">否
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            所属权限</label>
        <div class="controls">
            @Html.Operations()
        </div>
    </div>
}
@section EditForm{
    <input type="hidden" id="EditModuleID" name="ID" />
    <div class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">
                上级菜单</label>
            <div class="controls">
                @{SelectList modules = ViewData["Modules"] as SelectList;}
                @Html.DropDownList("ParentId", modules, new { id = "EditParentID", @class = "noCheck my-select" })
                @*<div class="form-tip">
                    如不选择，则默认为添加根节点菜单</div>*@
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">
                模块名称</label>
            <div class="controls">
                <input type="text" id="EditName" name="Name" class="empty form-input js-module-name" />
                <div class="form-tip">
                </div>
            </div>
        </div>
    </div>
    @*<div class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">
                模块代码</label>
            <div class="controls">
                <input type="text" id="EditCode" name="Code" class="form-input-readonly js-module-code"
                    readonly />
            </div>
        </div>
    </div>*@
    <div class="row-fluid">
        <div class="control-group span6 hide" id="EUrl">
            <label class="control-label">
                链接</label>
            <div class="controls">
                <input type="text" id="EditUrl" name="Url" class="empty hide form-input" />
                <div class="form-tip">
                </div>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">
                是否启用</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" id="EditVisible" name="IsEnable" value="1" checked>是
                </label>
                <label class="radio inline">
                    <input type="radio" id="EditHide" name="IsEnable" value="0">否
                </label>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="control-group span12" id="EditOp">
            <label class="control-label">
                所属权限</label>
            <div class="controls">
                @Html.Operations()
            </div>
        </div>
    </div>
}
@section SearchForm{
    <div id="ModalSearch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <span class="label label-warning">高级搜索</span>
        </div>
        <div class="modal-body">
            <form id="js-search-form">
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">
                            上级菜单</label>
                        <div class="controls">
                            @{SelectList modules = ViewData["Modules"] as SelectList;}
                            @Html.DropDownList("ParentId", modules, new { id = "SearchParentID", @class = "noCheck my-select" })
                        </div>
                    </div>
                    <div class="control-group span6" id="SUrl">
                        <label class="control-label">
                            链接</label>
                        <div class="controls">
                            <input type="text" id="SearchUrl" name="Url" class="empty form-input" />
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">
                            模块名称</label>
                        <div class="controls">
                            <input type="text" id="SearchName" name="Name" class="empty form-input" />
                        </div>
                    </div>
                    <div class="control-group span6">
                        <label class="control-label">
                            模块代码</label>
                        <div class="controls">
                            <input type="text" id="SearchCode" name="Code" class="form-input" />
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span12">
                        <label class="control-label">
                            是否启用</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" id="SearchVisible" name="IsEnable" value="1" checked>是
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="SearchHide" name="IsEnable" value="0">否
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="js-btn-modal-search" data-dismiss="modal">搜索</button>
        </div>
    </div>
}
@section DetailForm{
    <div id="ModalDetail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <span class="label label-warning">详细信息</span>
        </div>
        <div class="modal-body">
            <form id="js-detail-form">
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">模块名称：<span id="detailName"></span></label>
                    </div>
                    <div class="control-group span6">
                        <label class="control-label">模块代码：<span id="detailCode"></span></label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label">链接：<span id="detailUrl"></span></label>
                    </div>
                    <div class="control-group span6">
                        <label class="control-label">是否启用：<span id="detailIsEnable"></span></label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" id="js-btn-modal-search" data-dismiss="modal">搜索</button>
        </div>
    </div>
}
@section script{
    <script src="@Url.Content("~/Scripts/tool/pinyin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/page/module.js")" type="text/javascript"></script>
}
