@*@model IEnumerable<MvcBootstrap.MssqlEFModel.T_Role>*@
@model IEnumerable<MvcBootstrap.MysqlEFModel.T_Role>
@*@model IEnumerable<MvcBootstrap.OracleEFModel.T_Role>*@

<thead>
	<tr>
        <th><input id="js-check-all" type="checkbox" class="th-check-all" />选择</th>
		<th>角色名称</th>
		<th>角色说明</th>
		<th>是否启用</th>
		<th>创建日期</th>
        @{if (Convert.ToBoolean(ViewData["Update"]) || Convert.ToBoolean(ViewData["Delete"]))
          {
		<th>操作</th>
          }}
	</tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="hide">@item.Id</td>
            @*td属性说明（只有在编辑图标type="table"时才有必要使用）：
              class用于生成编辑表单时进行不同的处理
              key与表中的字段名对应，用于数据更新
              content用于记录model原内容，便于编辑时暂存
              type表示生成的编辑表单需要验证的类型*@
            <td class="js-check"><input class="js-check-cell" type="checkbox" /></td>
		    <td key="Name" content="@item.Name" type="notEmpty">@item.Name</td>
		    <td key="Remark" content="@item.Remark" type="notEmpty">@item.Remark</td>
            @*<td class="js-bool" key="IsEnable" content="@(item.IsEnable != null && item.IsEnable == 1)">
            @if (item.IsEnable != null && item.IsEnable == 1)*@
            <td class="js-bool" key="IsEnable" content="@(item.IsEnable != null && (bool)item.IsEnable ? "1" : "0")">
            @if (item.IsEnable != null && (bool)item.IsEnable)
            {
                <img src="../../Images/enable.png" alt="可用" title="可用" />
            }
            else
            {
                <img src="../../Images/disable.png" alt="不可用" title="不可用" />
            }
            </td>
		    <td class="js-readonly" key="CreateDate" content="@item.CreateDate">@item.CreateDate</td>
            @{if (Convert.ToBoolean(ViewData["Update"]) || Convert.ToBoolean(ViewData["Delete"]))
              {
            <td>
                @{if (Convert.ToBoolean(ViewData["Update"]))
                  {
                    <a href="javascript:;" title="编辑"><i class="icon-pencil" type="table"></i></a>
                  }
                }
                @{if (Convert.ToBoolean(ViewData["Delete"]))
                  {
                    <a href="javascript:;" title="删除"><i class="icon-remove"></i></a>
                  }
                }
            </td>
              }}
        </tr>
    }
</tbody>