<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../../Images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../Images/apple-touch-icon-144-precompos.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../Images/apple-touch-icon-114-precompos.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../Images/apple-touch-icon-72-precompose.png">
    <link rel="apple-touch-icon-precomposed" href="../../Images/apple-touch-icon-57-precompose.png">
    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css-paging")
    @RenderSection("style", required: false)
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<body class=""> 
<!--<![endif]-->
    <div class="content">
        <div id="js-grid">
            <div class="header">
                <h1>@ViewBag.Title</h1>
            </div>
            <ul class="breadcrumb">
                <li class="active"><span>@ViewBag.ParentEnName</span><span class="divider">/</span></li>
                <li>@ViewBag.CurrentEnName</li>
            </ul>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="btn-toolbar">
                        @{if (ViewData["Create"] != null)
                          {
                            <button class="btn btn-primary" id="js-btn-toolbar-add">
                            <i class="icon-plus"></i>新增</button>
                          }}
                        @{if (ViewData["HasShowDetailButton"] != null)
                          {
                            <a href="#ModalDetail" data-toggle="modal" class="btn" id="js-btn-toolbar-detail">查看</a>
                          }}
                        @{if (ViewData["Delete"] != null)
                          {
                            <button class="btn" id="js-btn-toolbar-delete">删除</button>
                          }}
                        @{if (ViewData["SetPermission"] != null)
                          {
                            <button class="btn" id="js-btn-toolbar-permission">权限分配</button>
                          }}
                        @{if (ViewData["Search"] != null)
                          {
                            <button class="btn" id="js-btn-toolbar-refresh">刷新</button>
                            <form class="form-search inline-right">
                                <input type="text" placeholder="@ViewBag.SearchName" class="input-place italic" id="js-input-search">
                                <button type="button" class="btn btn-primary ml10" id="js-btn-search">搜索</button>
                            </form>
                          }}
                        @{if (ViewData["AdvanceSearch"] != null)
                          {
                            <a class="label label-link mr10 mt5 inline-right" href="#ModalSearch" data-toggle="modal">高级</a>
                          }}
                    </div>
                    <div class="well">
                        <table class="table table-striped table-bordered table-hover" id="js-table">
                            @RenderSection("DataGrid", required: false)
                        </table>
                        <div class="pagination"></div>
                    </div>
                    @Html.Partial("_ModalDel")
                </div>
                <div id="ModalEdit" class="modal hide fade my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <span class="label label-warning">修改信息</span>
                        <img src="@Url.Content("~/Images/loading.gif")" class="js-loading hide" alt="loading" />
                    </div>
                    <div class="modal-body my-modal">
                        <form id="js-edit-form">
                            @RenderSection("EditForm", required: false)
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                        <button class="btn btn-primary" id="js-btn-modal-edit" data-dismiss="modal">提交</button>
                    </div>
                </div>
                @RenderSection("SetPermissionForm", required: false)
                @RenderSection("SearchForm", required: false)
                @RenderSection("DetailForm", required: false)
            </div>
        </div>
        <div id="js-div-add" class="hide">
            <div class="navbar wp97">
                <div class="navbar-inner">
                    <a class="brand" href="#">@ViewBag.AddTitle</a>
                </div>
            </div>
            <form class="form-horizontal mlp20 pt20" id="js-add-form">
                @RenderSection("AddForm", required: false)
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="button" id="js-btn-form-add" value="确定" />
                        <input class="btn btn-primary" type="button" id="js-btn-form-cancel" value="取消" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var dataCount = '@ViewData["DataCount"]';
        var pageSize = '@ViewData["PageSize"]';
    </script>
    @RenderBody()
    @Scripts.Render("~/Content/js-manage")
    @RenderSection("script", required: false)
</body>
</html>
